{{ partial "header.html" . }}
	{{ $data := .Data }}
	<main>
		<section>
			{{ $name := lower  .Name  }}	
			   {{ $titles := .Site.Data.category }}
			   {{ range $titles }}
			   {{ if eq .term $name }}
				   <span>{{ upper $name }}</span>
				   <h1 class="page-title">
					   {{ .title }}
				   </h1>
			   {{ end }}
			   {{ end }}
		   </section>

		   <ul>
				{{ range $index, $value := .Data.Terms.ByCount }}
					<li>
						<a href="{{ $.Site.BaseURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{  title $value.Name }}<sup>{{ $value.Count }}</sup></a>
					</li>
				{{ end }}
			</ul>

	</main>

{{ partial "footer.html" . }}
