<div class="author">
    {{ if .Params.author }}
    {{ $author := .Params.author }}
        {{ with index .Site.Data.authors $author }}
            <span class="avatar"><img src="{{ .avatar }}" alt="{{ .name }}" /></span>
            <div class="meta">
                <div>
                    <a href="{{ $.Site.BaseURL }}/authors/{{ $author }}" class="name">{{ .name }}</a>
                    <div class="desig">{{ .title }}</div>
                </div>

                <div class="urls">
                    {{ if ne .homepage "" }}<a href="{{ .homepage }}" target="_blank">Homepage</a>{{ end }}
                    {{ if ne .github "" }}<a href="{{ .github }}" target="_blank">GitHub</a>{{ end }}
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>