<section class="author-profile">
    <img  src={{ .avatar }} width="130"  alt={{ .name }}>
    <div class="name-wrapper">
        <h1 class="title">{{ .name }}</h1>
        <span class="desig">{{.title}}</span>
    </div>
    <div class="urls">
        {{ if ne .homepage "" }}<a href="{{ .homepage }}" target="_blank">Homepage</a>{{ end }}
        {{ if ne .github "" }}<a href="{{ .github }}" target="_blank">GitHub</a>{{ end }}
        {{ if ne .twitter "" }}<a href="{{ .twitter }}" target="_blank">Twitter</a>{{ end }}
    </div>
</section>