<!DOCTYPE html>
<html>
<head>
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta charset="utf-8" />
	<meta name="title" content="{{.Site.Title}}">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://zerodha.tech/">
	<meta property="og:title" content="{{.Site.Title}}">
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://zerodha.tech/">
	<meta property="twitter:title" content="{{.Site.Title}}">
	<meta property="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />

	
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/static/images/favicon.png" />
	
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	{{ with .Params.image }}
		<meta property="og:image" content="{{ if in . "http" }}{{ . }}{{ else }}{{ $.Site.BaseURL }}{{ . }}{{ end }}" />
		<meta property="twitter:image" content="{{ if in . "http" }}{{ . }}{{ else }}{{ $.Site.BaseURL }}{{ . }}{{ end }}" />
	{{ else }}
		<meta property="og:image" content="https://zerodha.com/static/images/landing.png">
		<meta property="twitter:image" content="https://zerodha.com/static/images/landing.png">
	{{ end }}

    <script type="application/ld+json">
		{
			"@context" : "https://schema.org",
			"@type" : "Organization",
			"name" : "{{ $.Site.Title }}",
			"logo": "https://zerodha.tech/static/images/logo.svg",
			"description": "{{ $.Site.Params.subtitle }}",
			"contactPoint" : [{
				"@type" : "ContactPoint",
				"telephone" : "+91 80 4040 2020",
				"contactType" : "customer service"
			}],
			"url" : "https://zerodha.tech",
			"sameAs" : [
				"https://facebook.com/zerodha.social",
				"https://twitter.com/zerodhaonline",
				"https://youtube.com/user/zerodhaonline",
				"https://linkedin.com/company/zerodha",
				"https://instagram.com/zerodhaonline"
			]
		}
	   </script>

	<link href="https://fonts.googleapis.com/css?family=Inter:400,500,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/static/style.css" />
	<!-- <link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="{{ .Site.BaseURL }}/static/dark.css" />	 -->
</head>
<body>
	{{ .Site.Params.paginate }}
	<section class="container wrap">
		<div class="header">
			<div class="logo">
				<a href="{{ .Site.BaseURL }}/"><img alt="Zerodha technology blog" src="{{ .Site.BaseURL }}/static/images/logo.svg" /></a>
			</div>
			<nav class="nav">
				{{ $cur := . }}
				{{ range $.Site.Menus.header }}
					{{ $active := in $cur.RelPermalink .URL }}
					<a class="{{ if $active }} active {{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			</nav>
		</div>
