<!DOCTYPE html>
<html>
<head>
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta charset="utf-8" />
	<meta name="title" content="{{.Site.Title}}">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Open Graph -->
	{{- if .IsHome -}}
	<meta property="og:title" content="{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }}" />
	{{- else -}}
	<meta property="og:title" content="{{ $title }} - {{ $siteTitle }}" />
	{{- end -}}

	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/static/images/favicon.png" />

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ with .Params.image }}
		<meta property="og:image" content="{{ if in . "http" }}{{ . }}{{ else }}{{ $.Site.BaseURL }}{{ . }}{{ end }}" />
	{{ else }}
		<meta property="og:image" content="https://zerodha.com/static/images/landing.png">
	{{ end }}

    <script type="application/ld+json">
		{
			"@context" : "https://schema.org",
			"@type" : "Organization",
			"name" : "{{ $.Site.Title }}",
			"logo": "https://zerodha.tech/static/images/logo.svg",
			"description": {{ $.Site.Params.subtitle }},
			"contactPoint" : [{
				"@type" : "ContactPoint",
				"telephone" : "+91 80 4040 2020",
				"contactType" : "customer service"
			}],
			"url" : "https://zerodha.tech",
			"sameAs" : [
				"https://facebook.com/zerodha.social",
				"https://twitter.com/zerodhaonline",
				"https://youtube.com/user/zerodhaonline",
				"https://linkedin.com/company/zerodha",
				"https://instagram.com/zerodhaonline"
			]
		}
	   </script>

	<link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/static/style.css" />
</head>
<body>
	{{ .Site.Params.paginate }}
	<section class="page-hero">
		<div class="container wrap">
			<div class="header">
				<div class="logo">
					<a href="{{ .Site.BaseURL }}/"><img alt="Zerodha technology blog" src="{{ .Site.BaseURL }}/static/images/logo.svg" /></a>
				</div>
				<nav class="nav">
					{{ $cur := . }}
					{{ range $.Site.Menus.header }}
					{{ $active := in $cur.RelPermalink .URL }}
					<a class="{{ if $active }} active {{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
					{{ end }}

					<a href="{{ .Site.BaseURL }}/index.xml" class="feed" title="Subscribe to feed">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M4 11a9 9 0 0 1 9 9"/>
							<path d="M4 4a16 16 0 0 1 16 16"/>
							<circle cx="5" cy="19" r="1"/>
						</svg>
					</a>
				</nav>
			</div>

			{{ if .IsPage }}
			<div class="post single">
				<div class="post-header">
					<h1 class="title">{{ .Title }}</h1>
					{{ if ne .Type "page" }}
						<p class="date">
							{{ dateFormat "02 Jan 2006" .Date }}
						</p>
					{{ else }}
						{{ .Params.description }}						
					{{ end }}
				</div>
			</div>
			{{ else if .IsHome }}
				<h1 class="intro">
					We build <span class="bold">technology at
					Zerodha, </span> <span class="highlight">India's largest stock broker</span>.
				</h1>

			{{ else if isset .Data "Term" }}
				<h1 class="post-header">
					{{ if eq (index .Data "Singular") "author" }}@{{ end }}{{ .Data.Term }}
				</h1>
			{{ else }}
				<h1 class="post-header">{{ .Name }}</h1>
			{{ end }}

		</div>
	</section>
