<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}
	
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}static/images/favicon.png" />
	
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<link href="https://fonts.googleapis.com/css?family=Inter:400,500,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}static/style.css" />	
	<link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="{{ .Site.BaseURL }}static/dark.css" />	
</head>
<body>
	{{ .Site.Params.paginate }}
	<section class="container wrap">
		<div class="header">
			<div class="logo">
				<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}static/images/logo.svg" /></a>
			</div>
			<nav class="nav">
				{{ $cur := . }}
				{{ range $.Site.Menus.header }}
					{{ $active := in $cur.RelPermalink .URL }}
					<a class="{{ if $active }} active {{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			</nav>
		</div>
