* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #F0F0F0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #141414;
    line-height: 1.6em;
    font-size: 18px;
}

a {
    color: #000;
    text-decoration: none;
    word-break: break-word;
    transition: color 0.2s ease;
}

a:hover {
    color: #035AA6;
    text-decoration-color: #035AA6;
    text-decoration-thickness: 2px;
}

strong {
    font-weight: 600;
}

code {
    display: inline-block;
    background: #f4f4f4;
    color: #000;
    padding: 3px 5px;
    font-size: 0.9em;
}

pre code {
    display: block;
}

.post .highlight {
    background: #f4f4f4;
    padding: 5px;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

::-moz-selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    background: #f6f6f6;
    font-style: italic;
    border-left: 5px solid;
    border-color: #000;
    padding: 5px 15px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.6;
    margin: 45px 0 20px 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

figure.float-right {
    margin: 0 15px 0 15px;
}

.text-small {
    font-size: .875em;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.post ul li {
    margin-bottom: 10px;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.wrap {
    margin: 0 auto;
    padding: 30px 75px 60px 75px;
}

.container {
    max-width: 950px;
    min-width: 320px;
}

.header {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    min-width: 320px;
    padding-bottom: 0;
}

.header .logo,
.header nav {
    flex-grow: 1;
}

.header nav {
    text-align: right;
    line-height: 1em;
}

.header .logo {
    font-weight: 500;
    font-size: 1.5em;
}

.header nav a {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.header nav .feed img {
    width: 16px;
    height: auto;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.posts .post {
    margin: 32px auto;
}

.post.blurb .post-header {
    margin: 0 0 15px 0;
}

.post.blurb .title {
    margin: 0;
}

.post.blurb .date {
    color: #888;
}

.post .content {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.post .content a {
    color: #035AA6;
    text-decoration: underline;
}

.post .content a:hover {
    color: #000;
    text-decoration-color: #000;
}

.post ul li {
    margin-bottom: 10px;
}
.post ul li p {
    margin: 0;
}

.post .draft-label {
    color: #000;
    text-decoration: none !important;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .author {
    display: flex;
    margin-top: 30px;
    font-size: 0.875em;
    line-height: 1.35em;
}

.post .author .avatar {
    flex: 0 0 64px;
}

.post .author img {
    display: inline-block;
    border-radius: 100%;
    max-width: 64px;
    margin-right: 15px;
}

.post .author .desig {
    color: #888;
}

.post .author span {
    display: inline-block;
}

.post .author .date {
    margin-top: 5px;
}

.post .author .urls {
    font-size: 0.775em;
}

.post .author .urls a {
    margin-right: 5px;
    color: #888;
}

.projects {
    margin-top: 10px;
}

.projects .item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #C5C5C5;
    padding: 30px;
}

.projects .name {
    flex: 40%;
}

.projects .name a {
    text-decoration: none;
}

.projects .description {
    flex: 60%;
}

.projects h3 {
    margin: 0;
}

.projects p {
    margin: 0 0 10px 0;
}

.projects .date {
    font-size: 0.875em;
    color: #999;
}

.oss .oss-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
}

.oss .oss-row:last-child {
    border-bottom: none;
}

.oss .item {
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
}

.oss .item h3 a {
    color: #141414;
    transition: color 0.3s ease;
}

.oss .item h3 a:hover {
    color: #035AA6;
    text-decoration: none;
}

h1.intro {
    margin: 120px 0;
    font-weight: 300;
}

.intro .highlight {
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #4184F3, #4EAF52) 1;
    padding-bottom: 12px;
}

.intro .bold {
    font-weight: 500;
}


.footer {
    text-align: center;
    font-size: 0.75em;
    color: #999;
    margin: 30px 0;
}

.footer a {
    color: #666;
}

.footer a:hover {
    color: #035AA6;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.tags a {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0px 6px;
    color: #333;
    line-height: 20px;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 0 0;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

.page-hero {
    background-color: #E2E2D7;
}

.meta {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #C5C5C5;
    margin: 18px 0 80px;
    padding-top: 18px;
}

.meta .author-tiny {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.meta .author-tiny-individual {
    display: flex;
    flex-direction: row;
    margin: 12px;
}

.author-tiny-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author-tiny a {
    line-height: 1.6;
}

.author .desig {
    line-height: 1.6;
    color: #888;
    margin-bottom: 10px;
}

.author-tiny .desig {
    color: #888;
}

.author-tiny .avatar {
    display: inline;
    border-radius: 50%;
    max-width: 40px;
    margin-right: 12px;

}

.date {
    font-size: 0.875em;
    margin: 0;
}

.page-hero .post-header {
    text-align: center;
}

.page-hero .post-header h1.title {
    margin: 0;
}


.content-wrap {
    display: flex;
    max-width: 1200px;
    position: relative;
    align-items: flex-start;
}

.content-wrap .author {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.banner {
    background: linear-gradient(to bottom, #E2E2D7 0%, #E2E2D7 50%, #F0F0F0 50%, #F0F0F0 100%);
    text-align: center;
    margin-top: -40px;
}

.banner img {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
}

.author {
    position: sticky;
    top: 40px;
    padding: 24px 0;
}

.author-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.author .meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 0.875rem;
    justify-content: center;
    flex: 1;
    margin: 0;
}

.author .meta .author-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author .meta .name {
    font-weight: 400;
    font-size: 1rem;
}

.author .meta .urls {
    display: flex;
    justify-content: center;

}

.author .meta .urls a {
    margin: 0 12px;
    color: #888;
}

.author .meta .urls a:hover {
    color: #035AA6;
}

.avatar img {
    display: block;
    border-radius: 50%;
    max-width: 44px;
    margin-right: 16px;
    margin-top: 4px;
}

.content {
    margin: auto;
}


@media (max-width: 940px) {

    .wrap {
        padding: 30px;
    }

    .posts {
        display: block;
    }

    .posts .post {
        margin-bottom: 60px;
    }

    .meta .author-tiny {
        flex-direction: column;
    }

    .content-wrap {
        display: block;
        max-width: 1200px;
        position: relative;
        padding-top: 0px;
    }

    .content-wrap .author {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: static;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .content-wrap .author .author-individual {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
    }


    .content-wrap .author .meta {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-wrap .author .meta .desig {
        margin: 0;
    }

    .banner {
        padding: 0 30px;
    }

    .banner img {
        padding: 20px 0px 0;
    }

}

@media (max-width: 550px) {
    .header {
        display: block;
        margin-bottom: 50px;
    }

    .header .nav {
        margin-top: 20px;
        text-align: left;
    }

    .header .nav a {
        margin: 0 30px 0 0;
    }

    h1.intro {
        margin: 80px 0;
    }

    .float-right {
        float: none;
    }

    figure.float-right {
        margin: 15px 0;
    }

    .page-hero .post-header {
        text-align: left;
    }

    .post-header h1.title {
        margin-top: 0;
    }

    .banner {
        margin-top: -30px;
    }

    .projects {
        padding: 0;
    }

    .projects .item {
        padding: 30px 0;
    }

    .oss .item {
        margin-bottom: 0;
    }

}

code {
    white-space: pre-wrap;
}