<section class="container">
    <section class="category">
        <h2>Apps</h2>
        <ul class="projects">
            {{ range sort .Page.Site.Data.projects ".updated_at" "desc" }}
                {{ partial "project.html" (dict "item" . "category" "apps") }}
            {{ end }}
        </ul>
    </section>

    <section class="category">
        <h2>Services</h2>
        <ul class="projects">
            {{ range sort .Page.Site.Data.projects ".updated_at" "desc" }}
                {{ partial "project.html" (dict "item" . "category" "services") }}
            {{ end }}
        </ul>
    </section>

    <section class="category">
        <h2>Utils</h2>
        <ul class="projects">
            {{ range sort .Page.Site.Data.projects ".updated_at" "desc" }}
                {{ partial "project.html" (dict "item" . "category" "utils") }}
            {{ end }}
        </ul>
    </section>


    <section class="category">
        <h2>Libraries</h2>
        <ul class="projects">
            {{ range sort .Page.Site.Data.projects ".updated_at" "desc" }}
                {{ partial "project.html" (dict "item" . "category" "libs") }}
            {{ end }}
        </ul>
    </section>
    
    <section class="category">
        <h1>Dev projects</h1>
        <p>Check out the personal FOSS projects from the dev team.</p>

        {{ $users := newScratch }}

        {{ range sort .Page.Site.Data.projects ".updated_at" "desc" }}
            {{ $parts := split .github_uri "/" }}
            {{ $username := index $parts 0 }}
            {{ if and (ne $username "zerodha") (ne $username "zerodhatech") (ne $username "@warp-tech") }}
                {{ $users.Set $username true }}
            {{ end }}
        {{ end }}

        <ul class="github-users">
        {{ range $username, $_ := $users.Values }}
            <li><a href="https://github.com/{{ $username }}">@{{ $username }}</a></li>
        {{ end }}
        </ul>
    </section>
</section>
